.fourContainerImages {
  width: 52%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 0;
}

.fourImagesChat {
  width: 50%;
}
.grid-item {
  width: 100%;
  margin: 0;
}

.grid-item img {
  width: 100%;
  height: auto;
}

@media (max-width: 420px){
  .imgWaveLine{
    display: none;
  }

  .fourContainerImages{
    display: flex;
    width: 23% !important;
    flex-direction: column;
  }
  .fourImagesChat{
    width: 586% !important;
  }
  .imgWave{
    margin-right: 4rem;
  }
}
